.carouselImg {
  min-width: 100%;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.carouselContainer {
  width: 80%;
  margin: 2rem auto;
}

.caption {
  background-color: rgba(229, 229, 229, 0.3);
}

.formContainer {
  padding-top: 2rem;
  background-color: rgba(252, 163, 17, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.formContent {
  width: 80%;
}
