.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: 0.5px solid rgba(229, 229, 229, 0.5);
  color: var(--white);
}

.headerContainer {
  height: 4rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.header a {
  text-decoration: none;
  color: var(--orange-web);
}

.header li:hover,
.header li:active,
.header li.active {
  color: white;
}
