.image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  animation: zommIn 5s;
  animation-fill-mode: forwards;
  /* aspect-ratio: 16/9; */
}

@keyframes zommIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

.image {
  overflow: hidden;
}

.actions {
  padding: 1rem;
  text-align: center;
}
.actions.actionsEnd {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: rgb(76, 184, 188);
  border: 1px solid rgb(76, 184, 188);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}
.actions a {
  text-decoration: none;
  color: rgb(76, 184, 188);
  transition: all 0.3s ease-out;
}
.actions a:hover {
  color: var(--platinum);
}

.linkButton {
  color: rgb(76, 184, 188);
  background-color: transparent !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.actions button.linkButton:hover {
  color: black;
}
.actions button:hover,
.actions button:active,
.actions button:focus,
.actions button:visited,
.actions button:disabled,
.actions button:active:focus {
  background-color: rgb(76, 184, 188);
  color: var(--platinum);
  border: 1px solid rgb(76, 184, 188);
}

.content {
  width: 80%;
  text-align: center;
  padding: 1rem;
  color: var(--platinum);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
