.image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  aspect-ratio: 16/9;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: rgb(76, 184, 188);
  border: 1px solid rgb(76, 184, 188);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}
.actions a {
  text-decoration: none;
  color: var(--platinum);
  transition: all 0.3s ease-out;
}

.linkButton {
  color: var(--black) !important;
  background-color: transparent !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.actions a:hover,
.linkButton:hover {
  color: rgb(76, 184, 188);
}
.actions button:hover,
.actions button:active,
.actions button:focus,
.actions button:visited,
.actions button:disabled,
.actions button:active:focus {
  background-color: rgb(76, 184, 188);
  color: var(--platinum);
  border: 1px solid rgb(76, 184, 188);
}

.content {
  width: 80%;
  text-align: center;
  padding: 1rem;
  color: var(--platinum);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
