@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: rgba(0, 0, 0, 1);
  --oxford-blue: rgba(20, 33, 61, 1);
  --orange-web: rgba(252, 163, 17, 1);
  --platinum: rgba(229, 229, 229, 1);
  --white: rgba(255, 255, 255, 1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
      
  }
}

body {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.66) !important;
  min-height: 100vh;
}

.form-control,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  border-radius: 2px !important;
}

.card-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  aspect-ratio: 9/16;
}

.card {
  border-radius: 2px !important;
  border: none !important;
  background-color: var(--white) !important;
}

.carousel-caption {
  right: 10% !important;
  left: 10% !important;
}

.carousel-control-next, .carousel-control-prev {
  width:10% !important;
}

.btn{
  border-radius: 4px !important;
}

.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content{
  width: 80%;
}

.text-blue{
  color: rgb(76, 184, 188) !important;
}

a.text-blue:hover{
  color: var(--white) !important;
}

a.text-blue{
  text-decoration: none;
}


.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover{
  border: none !important;
  color: rgb(76, 184, 188) !important;
      }

.navbar-collapse {
    flex-grow: 0 !important;
}

@media (min-width: 992px) {
.navbar-expand-lg {
    justify-content: space-between !important;
}
}

.navbar{
   --bs-navbar-toggler-focus-width: 0.1rem !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(76, 184, 188) !important;
}