/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --black: rgba(0, 0, 0, 1);
  --oxford-blue: rgba(20, 33, 61, 1);
  --orange-web: rgba(252, 163, 17, 1);
  --platinum: rgba(229, 229, 229, 1);
  --white: rgba(255, 255, 255, 1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--white);
  background: radial-gradient(
    100% 100% at top left,
    rgba(0, 0, 0, 0.66),
    #262626
  );

  min-height: 100vh;
}

.form {
  padding: 1rem;
}

.form-control {
  margin-bottom: 0.5rem;
}

.form-control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  font: inherit;
  border-radius: 3px !important;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.actions {
  text-align: right;
}
